<h1 class="capitalize">film watch list</h1>

<ul class="card">
  <% @lists.each do | list | %>
    <li class="capitalize"><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<footer>
  <div class="footer">
    <div class="footer-links">
      <p>Contacts</p>
      <a href="https://github.com/alvarotrujillo" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/TrujiCodes" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/alvaro-trujillo/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
