<h1>Film Watch Lists</h1>

<ul class="card">
  <% @lists.each do | list | %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>
