<h1 class="capitalize">create your movie list</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name, label: 'What will your list be called?' %>
  <%= f.submit %>
<% end %>

<footer class="footer">
  <div class="non-index">
    <%= link_to "All lists", lists_path %>
  </div>
</footer>
