// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Watch-List color scheme
$bluey: #0e3a52; // Primary
$whitey: #fcf9f4; // Secondary
$goldy: #ce9e62; // Tertiary
$browny: #5d4f4d; // Quaternary
