.footer {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1em;
  & a { color: $goldy }
  margin-bottom: 0.5em;
  & p { color: $whitey;}
}

.non-index {
  letter-spacing: normal;
  & a { color: $goldy; }
  & a:hover { color: $whitey; }
}
