// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "footer";

body {
  background: $bluey;
  color: $whitey;
}

h1 {
  margin-top: 0.5em;
  color: $whitey;
}

a {
  text-decoration: none;
  color: $goldy;
}

.capitalize {
  text-transform: capitalize;
}
